body{
    background-color: #dfe6e9 !important;
}

nav{
    background-color: #2c3e50;
}
.nav-1{
    background-color: #7f8c8d;
    height: 10vh;
}

.bt{
    width: 100vw !important;
}

.session{
    width: 30vw;
}