
{% extends 'base.html' %}
{% block content %}
<div class="row mt-4 justify-content-center">
    {% for blog in blog_list %}
    <div class="col-10">
        <div class="jumbotron mt-4 shadow p-3 mb-5 bg-white rounded">
            <h1 class="display-6">{{blog.titulo}}</h1>
            <p class="lead"></p>{{blog.conteudo}}
            <!-- <hr class="my-4"> -->
            <p class="d-flex justify-content-end">Publicado em: {{blog.data_criacao}}</p>
            <div class="d-flex justify-content-end">
                <div class="row">
                    <div class="col-5">
                        <a class="btn btn-dark btn-sm" href="{% url 'blog_update' blog.pk %}" role="button">Editar</a>
                    </div>
                    <div class="col-1">
                        <a class="btn btn-dark btn-sm" href="{% url 'blog_delete' blog.pk %}" role="button">Excluir</a>
                    </div>    
                </div>
            </div>
        </div>      
    </div>
    {% endfor %}
    
</div>
{% endblock %}